<!--student-->
<template name="student">
    {{#if currentUser}}
        <a class="btn btn-primary" href="{{pathFor 'studentInsert'}}">Add New</a><br><br>
        {{> tabular table=TabularTables.Student class="table table-striped table-bordered table-condensed"}}
        <hr>
    {{/if}}
</template>

<!--studentInsert-->
<template name="studentInsert">
    {{#autoForm collection="Collection.Student" id="studentInsert" type="insert"}}
        <fieldset>
            <legend>Add Student</legend>
            {{> afQuickField name='studentName'}}
            {{> afQuickField name='gender'}}
            {{> afQuickField name='dob'}}
            {{> afQuickField name='telephone'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
    <br><br>
</template>

<!--update-->
<template name="studentUpdate">
    {{#if Template.subscriptionsReady}}
        {{#autoForm collection="Collection.Student" doc=studentDoc id="StudentUpdate" type="update"}}
            <fieldset>
                <legend>Update Student</legend>
                {{> afQuickField name='studentName'}}
                {{> afQuickField name='gender'}}
                {{> afQuickField name='dob'}}
                {{> afQuickField name='telephone'}}
            </fieldset>
            <button type="submit" class="btn btn-primary jsSave">Update</button>
        {{/autoForm}}
    {{else}}
        {{> spinner}}
    {{/if}}
</template>

<!--studentAction-->
<template name="studentAction">
    <div class="dropdown text-center">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="glyphicon glyphicon-align-justify"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="jsUpdate action"><span class="glyphicon glyphicon-pencil"></span> Edit</a></li>
            <li><a class="jsRemove action"><span class="glyphicon glyphicon-trash"></span> Remove</a></li>
        </ul>
    </div>
</template>

<!--genderTemplate-->
<template name="genderTemplate">
    <select id="gender" class="form-control">
        {{#each gender}}
            <option value="{{value}}" {{selected}}>{{lable}}</option>
        {{/each}}
    </select>
</template>
